@import url('https://fonts.googleapis.com/css?family=Open+Sans');
div.sections{
	width:100%;
}
p
{
	font-size: 10pt;
	color:grey;
}
body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}



